fastapi
uvicorn
openai==0.28
python-dotenv
tenacity
tiktoken
numpy
docx2txt
PyPDF2
python-pptx
python-multipart
arrow
chromadb
pinecone-client
weaviate-client
pymilvus
qdrant-client
redis
supabase
psycopg2-binary
llama-index
azure-identity
azure-search-documents
pgvector
loguru
elasticsearch
pymongo
langchain
permchain
PyMuPDF
md2pdf
colorama
jinja2